# Data Science Tools and Ecosystem

### *In this Notebook the main tools for Data Science will be explained and its ecosystem will be explained.*

## **Objectives**
* Identify the main languages used in Data Science
* Identify the most used libraries in Data Science
* Identify the main tools in Data Science
* Develop examples of arithmetic expressions in Python

### **Some of the most used languages in Data Science are**:
* Python 
* R 
* SQL 
* Scala 
* Java 
* C++ 
* Julia

### **Some of the most used libraries in Data Science are**:
* Panda
* Numpy
* Scipy
* matplot
* TensorFlow

|**Data Science Tools**|
| -------------------- |
| IBM Watson Studio    |
| MySQL                |
| PostgreSQL           |

### Below are examples of arithmetic expressions in Python

In [6]:
# This is a simple arithmetic expression to multiply and then add integers
(3*4)+5

17

In [7]:
# This code converts 200 minutes to hours by dividing by 60
a = 200 # Minutes
b = 60  
c = a/b
print (c,"hours")

3.3333333333333335 hours

## Author:
Rubén Martínez Godínez